{% extends 'base.html.twig' %}

{% block title %}Access denied{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1 style="text-align: center">You don't have permission for this action!</h1><br>
        <h3 style="text-align: center"><a href="{{ path('performance_list') }}">Return to performance list</a></h3>
    </div>
{% endblock %}