{% extends 'base.html.twig' %}

{% block title %}Početna strana{% endblock %}

{% block body %}
    <h1>Dobro dosli</h1>
    <h2>Opcije:</h2>
    <table>
        <tr>
            <td>Igraci</td>
            <td>Izlistaj</td>
            <td>Unesi</td>
        </tr>
        <tr>
            <td>Klubovi</td>
            <td>Izlistaj</td>
            <td>Unesi</td>
        </tr>
        <tr>
            <td>Utakmice</td>
            <td>Izlistaj</td>
            <td>Unesi</td>
        </tr>
        <tr>
            <td>Mesta</td>
            <td>Izlistaj</td>
            <td>Unesi</td>
        </tr>
    </table>
{% endblock %}