{% extends 'base.html.twig' %}

{% block title %}Add match{% endblock %}

{% block body %}
    <p><a href="{{ path('home') }}">BACK TO HOME PAGE</a></p>
    <p><a href="{{ path('game_list') }}">LIST OF GAMES</a></p>
    {# {{ form(form) }} #}
{% endblock %}
