{% extends 'base.html.twig' %}

{% block title %}Place list{% endblock %}

{% block body %}
    <table>
        <th>
            <td>PTT</td>
            <td>Name</td>
            <td></td>
            <td></td>
        </th>
        {% for place in places %}
            <tr>
                <td>{{ place.getPtt() }}</td>
                <td>{{ place.getName() }}</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
