{% extends 'base.html.twig' %}

{% block title %}Add club{% endblock %}

{% block body %}
    <p><a href="{{ path('home') }}">BACK TO HOME PAGE</a></p>
    <p><a href="{{ path('club_list') }}">LIST OF CLUBS</a></p>
    {# {{ form(form) }} #}
{% endblock %}
