{% extends 'base.html.twig' %}

{% block title %}Add performance{% endblock %}

{% block body %}
    <p><a href="{{ path('home') }}">BACK TO HOME PAGE</a></p>
    <p><a href="{{ path('performance_list') }}">LIST OF PERFORMANCES</a></p>
{% endblock %}

{% block myJavascripts %}
{% endblock %}
