{% extends 'base.html.twig' %}

{% block title %}Lista mesta{% endblock %}

{% block body %}
    <table>
        <th>
            <td>PTT</td>
            <td>Naziv</td>
            <td></td>
            <td></td>
        </th>
        {% for mesto in mesta %}
            <tr>
                <td>{{ mesto.getPtt() }}</td>
                <td>{{ mesto.getNaziv() }}</td>
                <td>Izmeni</td>
                <td>Obriši</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
